@inject UserManager<ApplicationUser> userManager
@using Microsoft.AspNetCore.Identity

@model ExerciseTracker
@{
    ViewData["Title"] = "Select Muscle Group";
}

<body>
        <div id="main">
        <div class="columns">
            <div class="column">
                <article class="tile notification is-white white-box">
                    <div id="navButtons">

                    </div>
                </article>
            </div>
            <div class="column">
                <article class="tile notification is-white white-box">
                    <p class="subtitle"></p>
                </article>
            </div>
        </div>
        <div class="gap-10"></div>
        <article class="tile notification is-white white-box users-box">
            <table id="usersTable" class="table">
                <thead>
                    <tr id="head" class="head">
                        <th scope="col">Muscle Group</th>
                        <th scope="col">Select</th>
                    </tr>
                </thead>

                <tbody class="userTable">

                    @foreach (string value in Enum.GetNames(typeof(ExerciseTracker.MuscleGroups)))
                    {
                        <tr>
                            <td id="ExerciseType">@value</td>
                            <td id="selection">
                                <button onclick="location.href = '@Html.Raw(Url.Action("SelectExercise", "ExerciseManager", new {ExerciseType = @value}))'" class="btn btn-success">Select Page</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </article>
    </div>
</body>